.bit_button {
    background-color: #ffffff; /* Green */
    border: none;
    outline: none;
    color: rgb(32, 24, 20);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    opacity: 1;
    transition: 0.7s;
}

.bit_button:hover { 
    background-color: #afafaf;
    opacity: 1;
}